/* HEADER */

header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background: #fff;
	padding: 15px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header-image{
	height: 64px;
	width: 98px;
}

/* FOOTER  */
